---
layout: page
title: Help fund the Reproducible Builds effort&hellip;
order: -1
permalink: /funding/
---

<div class="row">
  <div class="four columns title">
    <h2>&nbsp;</h2>
  </div>
  <div class="eight columns">
    <p>
      <em><big>The Reproducible Builds effort needs your help to continue its work
      towards ensuring the security of computer systems of all shapes and sizes
      around the world.</big></em>
    </p>
  </div>
</div>

<div class="row">
  <div class="four columns title">
    <h2>&nbsp;</h2>
  </div>
  <div class="eight columns">
    <p>
      Whilst anyone can inspect the source code of free and open source
      software for malicious flaws, most software is distributed pre-compiled
      to end users.
    </p>
    <p>
      The motivation behind the Reproducible Builds project is to permit
      verification that no flaws have been introduced during the compilation
      process&mdash;either maliciously or accidentally&mdash;by promising
      identical results are always generated from a given source, thus allowing
      multiple third-parties to come to a consensus on whether a system is
      compromised.
    </p>
    <p>
      Your continued support will be key in solving this problem, which affects
      systems of all sizes, from embedded microcontrollers to the
      largest government systems.
    </p>
  </div>
</div>

<br>

<div class="row">
  <div class="four columns title">
    <h2>Future work</h2>
  </div>
  <div class="eight columns">
    <p>
      The Reproducible Builds team has demonstrated that it is, in principle,
      possible to build a Linux distribution in a reproducible manner and have
      solved many of the issues in doing so.
    </p>

    <p>
      However, the next release of Debian ("buster") is currently not yet
      100% reproducible and funding to support on-going maintenance of
      critical infrastructure will be absolutely essential to reach this goal.
    </p>

    <p>
      This not only includes the administration of over 50 build nodes across
      multiple architectures, it requires continuous and patient work with
      package maintainers and upstreams to merge reproducibility-related
      patches. It also includes extending the scope of
      <a href="https://tests.reproducible-builds.org/">our testing
      framework</a> to even more projects, as well as improving the existing
      tests and reports.
    </p>

    <p>
      In addition, there are currently no tools that let a user know whether
      packages that they are installing are reproducible or not, required to
      "close the loop" and allow end-users to finally truly validate the
      software they are running on their machines.
    </p>

    <p>
      Furthermore, maintaining momentum &mdash; both in terms of public
      perception and in private &mdash; around the various related projects
      such as <em>diffoscope</em>, etc. will be key in ensuring a reproducible
      "buster" becomes a reality.
    </p>
  </div>
</div>

<br>

<div class="row">
  <div class="four columns title">
    <h2>Past work</h2>
  </div>
  <div class="eight columns">
    <ul>
      <li>
        94% of packages in <a href="https://debian.org/">Debian</a> are
        reproducible in our tests, and
        <a href="https://www.debian.org/doc/debian-policy/">Debian Policy</a> now
        recommends that builds are reproducible. Support for our build metadata
        format (<tt>.buildinfo</tt>) has been merged into the official
        toolchain.
      </li>

      <li>
        Large amount of cross-distribution collaboration &mdash;
        <a href="https://tails.boum.org/">Tails</a> and <a href="https://www.coreboot.org/">Coreboot</a>
        now offer reproducible ISO images based heavily on our work, and
        <a href="https://www.netbsd.org/">NetBSD</a>
        offer a reproducible base system to complement considerable progress
        from <a href="https://f-droid.org/en/">F-Droid</a>, <a href="https://www.opensuse.org/">OpenSUSE</a>
        and <a href="https://www.archlinux.org/">ArchLinux</a>. In addition, we are also
        providing continuous reproducible builds testing for eight Linux
        distributions.
      </li>

      <li>
        Core patches written and submitted for GCC, R and Go, Rust introduced
        "file maps" in support of reproducibility after our feedback.
      </li>

      <li>
        A number of highly lauded presentations (LCA, Embedded Linux onference,
        LibrePlanet, Scale15x, CCC, OSSE, LinuxCon China, Open Compliance
        Summit, etc.) as well highly-productive meetups in "real life".
      </li>

      <li>
        Countless features in <a href="https://diffoscope.org/">diffoscope</a>
        and other tools; 1000s of lines changed with extensive use outside of a
        reproducibility context.
      </li>

      <li>
        Mentoring in <a href="https://www.outreachy.org/">Outreachy</a> and
        <a href="https://summerofcode.withgoogle.com/">GSoC</a> to ease
        inclusion of new contributors especially ones from under-represented
        groups in technology.
      </li>

      <li>
        Almost 3 years of regular weekly newsletters as well as IRC-based
        meetings. Friendly communications have ensured that newcomers from all
        backgrounds feel involved and welcome.
      </li>
    </ol>
  </div>
</div>

<br>

<div class="row">
  <div class="four columns title">
    <h2>Contact</h2>
  </div>
  <div class="eight columns">
    <p>
      Please do not hesitate to get in touch
      (<tt>rb-funding@lists.reproducible-builds.org</tt>) if you would like any
      more information. Thank you for your consideration and we thank you in
      advance for your support.
    </p>
  </div>
</div>

<img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/groupphoto_rws3_berlin_2017_small.png" | prepend: site.baseurl }}" />
