---
layout: page
title: Talks & Resources
permalink: /resources/
order: 2
---

<div class="row">
  <div class="four columns title">
   <h2>Contribute</h2>
  </div>
  <div class="eight columns">
    <p>
      Find out how to contribute on our <a href="{{ "/contribute/" | prepend: site.baseurl }}">Contribute</a> page.
    </p>
  </div>
</div>

<br>

<div class="row">
  <div class="four columns title">
    <h2>Talks</h2>
  </div>
  <div class="eight columns text">
    <dl class="talks">
      {% for x in site.data.presentations %}
      {% assign slug = x.title | append: "-" | append: x.event.date | slugify %}
      <dt id="{{ slug }}">
        <em>{{ x.title }}</em> <a href="#{{ slug }}">&#182;</a><br/>
        by {{ x.presented_by }}<br/>
        <a href="{{ x.event.url }}">{{ x.event.name }}</a>
        &bull; {{ x.event.location }}
        {% if x.event.date %}&bull; {{ x.event.date | date: "%B %-d %Y" }}{% endif %}
      </dt>
      <dd>
        {% if x.video.url %}
        &#9656; <a href="{{ x.video.url }}">Video</a>&nbsp;
        {% endif %}
        {% if x.video.youtube %}
        &#9656; <a href="https://www.youtube.com/watch?v={{ x.video.youtube }}">YouTube</a>&nbsp;
        {% endif %}
        {% if x.slides %}
        &#9638; <a href="{{ x.slides }}">Slides</a>&nbsp;
        {% endif %}
      </dd>
      {% endfor %}
  </div>
</div>

<br>

<div class="row">
  <div class="four columns title">
    <h2>Slides</h2>
  </div>
  <div class="eight columns text">
    <p>We store all of our presentations in PDF or HTML form <a href="/_lfs/presentations">here</a>.</p>
    <p>We also have <a href="https://salsa.debian.org/reproducible-builds/reproducible-presentations">the original sources available in Git</a>!</p>
  </div>
</div>
