---
layout: page
title: Paris 2018
permalink: /events/paris2018/
event_date: 2018-12-11
event_date_string: December 11th-13th 2018
event_location: Paris, France
event_summary: A three-day workshop to continue and grow the Reproducible Builds effort.
---

<div class="row">
  <div class="four columns">&nbsp;</div>
  <div class="eight columns text">
    <p>{{ page.event_date_string }}.</p>
    <p>{{ page.event_summary }}</p>
    <p>As a follow up to the three previous reproducible builds workshops in
      <a href="{{ "/events/athens2015/" | prepend: site.baseurl }}">Athens 2015</a>,
      <a href="{{ "/events/berlin2016/" | prepend: site.baseurl }}">Berlin 2016</a>,
      <a href="{{ "/events/berlin2017/" | prepend: site.baseurl }}">Berlin 2017</a>,
      the reproducible builds folks will meet again in Paris.
    </p>
  </div>
</div>
<div class="row">
  <div class="four columns title">
    <h2>Goals</h2>
  </div>
  <div class="eight columns text">
    <p>
      The exact content of the meeting will be shaped by the participants, but
      these are the main goals:
    </p>
    <ul>
      <li>Update &amp; exchange about the status of reproducible builds in various projects.</li>
      <li>Improve collaboration both between and inside projects.</li>
      <li>Expand the scope and reach of reproducible builds to more projects.</li>
      <li>Work together and hack on solutions.</li>
      <li>Establish space for more strategic and long-term thinking than is possible in virtual channels.</li>
      <li>Brainstorm designs on tools enabling end-users to get the most benefits from reproducible builds.</li>
      <li>Discuss how reproducible builds will be usable and meaningful to users and developers alike.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="four columns title">
    <h2>Participants</h2>
  </div>
  <div class="eight columns text">
    <p>
      There will be participants from Arch linux, bootstrappable.org, coreboot, Debian, F-Droid, Google, GNU Guix, GNU Mes, in-toto, MirageOS, NetBSD, NixOS, openSUSE, OpenWrt, pantsbuild.org, Qubes OS. (There are more but we were asked to only mention these.)
      <br />
    </p>
    <!-- img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/groupphoto_rws3_berlin_2017_small.png" | prepend: site.baseurl }}" alt="Reproducible Summit 3 in Berlin 2017" / -->
 </div>
</div>

<!--div class="row">
  <div class="four columns title">
    <h2>Reports</h2>
  </div>
  <div class="eight columns text">
    <p>
    <ul>A number of reports have been published:
      <li>preliminary<a href="{{ "/events/berlin2017/ReproducibleSummitIIIEventDocumentation/" | prepend: site.baseurl }}"> Meeting report by Aspiration and complete minutes</a> (<a href="/files/ReproducibleSummitIIIEventDocumentation.pdf">PDF version</a> )</li>
      <li>Ludovic Courtès wrote <a href="https://www.gnu.org/software/guix/blog/2017/reproducible-builds-a-status-update/">report on the status of GNU Guix</a></li>
    </ul>
    </p>
 </div>
</div -->
<div class="row">
  <div class="four columns title">
    <h2>Location</h2>
  </div>
  <div class="eight columns text">
    <p>
      <a href="https://wiki.mozilla.org/Paris">Mozilla Office, Paris, France</a>
    </p>
    <p><img src="/images/paris2018/salle-des-fetes.jpg" /></p>

    <p>16bis Boulevard Montmartre<br />
    75009 Paris, France<br />
       Nearest metro stations: Grands Boulevards or Richelieu-Drouot
    </p>
  </div>
</div>
<div class="row">
  <div class="four columns title">
    <h2>Schedule</h2>
  </div>
  <div class="eight columns text">
    <p>
    The summit will be held from 9 AM until 5 PM on December 11th to 13th 2018.
    </p>
  </div>
</div>
<div class="row">
  <div class="four columns title">
    <h2>Registration</h2>
  </div>
  <div class="eight columns text">
    <p>
    Registration is <b>mandatory</b> for attending this event. Please send a short email to <a href="mailto:holger@layer-acht.org">holger@layer-acht.org</a> and state that you want to attend, possibly shortly stating your involvement or other reasons why. Also make sure to tell your food preference and your t-shirt size, should you want to receive one.
    </p>
  </div>
</div>
<div class="row">
  <div class="four columns title">
    <h2>Code of Conduct</h2>
  </div>
  <div class="eight columns text">
    <p>
      This event will be run under the auspices of the <a href="http://debconf.org/codeofconduct.shtml">DebConf Code of Conduct</a> and the <a href="https://www.debian.org/code_of_conduct">Debian Code of Conduct</a>.
    </p>
    <p>
      The organisers are committed to providing an event where all participants feel safe. Attendees are expected to treat all people with respect and help create a welcoming environment. If you notice behaviour that fails to meet this standard, please speak up.
    </p>
  </div>
</div>
<div class="row">
  <div class="four columns title">
    <h3>Co-organized by</h3>
  </div>
  <div class="eight columns text">
    <a href="https://aspirationtech.org/"><img src="{{ "/images/logos/aspirationtech.jpg" | prepend: site.baseurl }}" alt="Aspiration" style="margin: 20px;"/></a>
    &amp;
    <a href="mailto:holger@layer-acht.org">Holger</a>
  </div>
</div>
<div class="row">
  <div class="four columns title">
    <h2>Sponsors</h2>
  </div>
  <div class="eight columns text">
    <p>
      <a href="https://www.mozilla.org/"><img style="margin-top: 20px; vertical-align: top;" src="{{ "/images/logos/mozilla.png" | prepend: site.baseurl }}" alt="Mozilla Paris" /></a>
      <br />
      <a href="https://www.fordfoundation.org/"><img style="margin-top: 20px; vertical-align: top;" src="{{ "/images/logos/fordfoundation.png" | prepend: site.baseurl }}" alt="Ford Foundation" /></a>
      <br />
      <!-- a href="https://www.coreinfrastructure.org/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/cii.png" | prepend: site.baseurl }}" alt="Core Infrastructure Initiative" /></a>
      <br />
      <a href="https://opensource.google.com/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/google.png" | prepend: site.baseurl }}" alt="Google Open Source Research" /></a>
      <br / -->
      <a href="https://www.debian.org/"><img style="margin-top: 20px; vertical-align: top;" src="{{ "/images/logos/debian.png" | prepend: site.baseurl }}" alt="Debian" width="100"/></a>
      </p>
  </div>
</div>
