<html>
  {% include head.html %}
  <body>
    <div class="home">
    <header class="site-header">
      <h1><img src="{{ "/images/logos/icon_white.svg" | prepend: site.url }}" style="height: 2ex; vertical-align: middle"> reproducible<span class="punctuation">-</span>builds<span class="punctuation">.org</span></h1>
      <p class="tagline">Provide a verifiable path from source code to&nbsp;binary.</p>
    </header>
    <div class="container">
      <article>
        {{ content }}
      </article>

      {% include footer.html %}
    </div>
</div>
